/* Base HTML Styles */


:root {
	--pink: #f38fb1;
	--yellow: #f4d040;
	--green: #57d68d;
	--blue: #5dade2;
	--black: #111111;
	--gray: #c3c3c3;
	--sky-blue: #ADD8E6;
	--steel-blue: #4682B4;
}

/* CSS Reset */

html {
    box-sizing: border-box;
    font-size: 16px;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    }

	/* Global Styles */

label, input, textarea, select {
	display: block;
	width: 100%;
}

input, select, textarea {
	padding: 8px;
}

/* Header */

.desktop-nav {
	display: none;
}

@media (min-width: 768px){
	.desktop-nav {
		display: block;
	}
	.mobile-nav {
		display: none;
	}
	.hamburger-icon {
		display: none;
	}
}

.mobile-nav a {
	text-decoration: none;
	color: var(--black);
	display: block;
	padding: 4px 16px;
}

@media (min-width: 768px){
	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	nav {
		display: inline-block;
	}

	header nav ul {
		display: flex;
		gap: 25px;
		margin-right: 16px
	}
}

.icon, .hamburger-icon {
height: 50px;
border: none;
background: none;
}

.mobile-header {
padding: 16px;
display: flex;
align-items: center;
justify-content: space-between;
}


 /* Hero Styles */


.hero-bg {
    background-image: url("../img/header-bgd.jpg");
	background-image: linear-gradient(to right, green, white);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
}

#hero-text {
    position: absolute;
    top: 300px;
    right: 150px;
    width: 350px;
    height: 100px;
}



/* Portfolio projects */


#portfolio article {
	padding: 32px 16px;
}

@media (min-width: 768px){
	#portfolio {
		display: flex;
	}

	#portfolio article {
		padding: 56px;
	}
}

#heading-portfolio {
background-color: gray;
text-align: center;
padding: 25px;
border: solid white 3px;

}

#portfolio article h2 {
	margin-bottom: 16px;
	color: white;
}

#portfolio article p {
	margin-bottom: 16px;
}

#portfolio .html-css {
	background-color: var(--sky-blue);
	border: solid white 3px;
}

#portfolio .python {
	background-color: var(--sky-blue);
	border: solid white 3px;
}

#portfolio .next-project {
	background-color: var(--sky-blue);
	border: solid white 3px;
}




/* Contact section */

#contact {
	padding: 48px 16px;
}

#contact input, #contact select {
	margin-bottom: 16px;
}

#contact h2 {
	margin-bottom: 16px;
}

@media (min-width: 768px){
	#contact h2 {
		text-align: center;
		font-size: 2.5rem;
	}

	#contact form {
		max-width: 60%;
		margin: 40px auto;
	}
}

#contact input[type="submit"] {
	background-color: var(--pink);
	border: 0;
	margin-top: 8px;
	cursor: pointer;
}

/* Footer */

footer {
	padding: 16px;
	text-align: center;
}

/* Utilities */

.display-none {
	display: none;
}


/* About Me Page */

#about-me {
background-color: lightgrey;
padding: 24px;
border: 5px
}

.profile-bg {
    background-image: url("../img/profile-bg.jpg");
    background-repeat: no-repeat;
    height: 300px;
	border-radius: 150px;
}

#about {
	display: flex;	
}

.about-script {
	padding: 50px;
}